/* Team 3 - CSS for our Project  */

/* Imports for custom Google Fonts, Roboto used on main menu and Dancing Script on the footer  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Default CSS for the page */
body, html{    
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;      
  font-family: "Sans Serif Collection";
}

/* Default CSS headers */
h1, h2, h3, h4, h5, h6{
    font-family: "Arial Black";
}

/* Default for Colors */
.colour-shamrock{
    color: #03AC13;
}

.colour-lightgray{
    color: #d3d3d3;
}

.colour-red{
    color: #FF0000;
}

/* CSS for main NAV */
/* Shadow */
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

a.nav-link.nav-link {
    text-decoration: none;
    margin-left: 20px;
    font-family: "Roboto";
}

.active{
    color: #03AC13 !important;
    font-weight: bold;
}

a.nav-link.nav-link:HOVER {
    color: #03AC13;
    font-weight: bold;
}

/***************************/
/****CSS for Footer.HTML****/
/* Created by Joao Cordio  */
/***************************/

/* Social Icons */
.fa {    
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    padding-top: 7px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #ea4c89;
    color: white;
  }


  #footer p{
    font-family: Dancing Script !important;
  }

/***************************/
/*   CSS for Index.html    */
/* Created by Joao Cordio  */
/***************************/
#contentPlay{
color: #fff;
max-width: 100% !important;
background-image: url("../../resources/images/diagonal_dot.jpg");
background-repeat: repeat;
}

#contentPlay img{  
cursor: pointer;
}

/* .shake and @keyframes shake was created to help on the mini game*/
.shake {
  animation: shake 0.5s infinite alternate;
}
 
@keyframes shake {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

/* Carrosel CSS */

#carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  height: auto;
  margin-right: 10px;
}

#prev-btn, #next-btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
  padding: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}

#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}

/* Audrius Skema - Health List with custom bullet points*/
.custom-list {
  list-style-type: none; /* Remove default bullet points */
  padding-left: 20px; 
}

.custom-list li {
  position: relative; 
  margin-bottom: 10px; 
  padding-left: 30px; 
  padding-right: 20px; 
}

.custom-list li:before {
  content: '👉'; /* Unicode character for the custom bullet point */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Audrius Skema - Hip Score Table Format */
.table-bordered thead tr th {
  background-color: black;
  color: white;
}

/* Audrius Skema - In Text Popups for Links on About Us page */
.link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.link:hover:after {
    content: "Press to read more";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ececec;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
	z-index: 1;
    font-size: 14px;
	width: 150px;
	text-align: center;
}

/* Audrius Skema - Justified text for About Us and Breed Health pages */
.text-justify{text-align:justify !important;}

/* Audrius Skema - Quote styling on About Us page */
#quoteText {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 24px; 
	color: #03AC13; /* Shamrock */
}

#quoteText {
    cursor: pointer; /* Set cursor to pointer when hovering over the quote */
}

/* Audrius Skema - Quotes Popup styling on About Us page */
#quotePopup {
	display: none;
	position: fixed;
	background-color: #ececec; /* very light grey */
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a shadow effect */
	z-index: 1; /* Ensure the popup appears on top of other elements */
	max-width: 80vw; /* Set a maximum width relative to viewport width */
	color: black; 
	font-style: italic; 
	left: 50%; 
	transform: translateX(-50%);
	text-align: center;
}
		
/* CUSTOM BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 500px) {
  #imageGame0, #imageGame1, #imageGame2{
    height: 100px;
    width: 80px;
  }
}

/* MD breakpoint*/
@media (min-width: 768px) {
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM DISPLAY */
	  .d-lg-none { 
      display: none!important; 
    }
    #imageGame0, #imageGame1, #imageGame2{
      height: 100%;
      width: 100%;
    }
}

/*Brian Butler - Styling for dog images used on our dogs page. Set a fixed width, and set to fit*/
.dog-img {
  width: 70%;
  height: auto;
}

  /* Brian Butler - Brian Butler: Add a zoom on hover effect */
  .dog-img:hover {
    transform: scale(0.9); 
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  /*Brian Butler - Styling for the image in the modal; Set imaage to take up full width and height of its container,*/
  #dogModalImage {
    width: 100%;
    height: auto; 
    object-fit: cover;
  }

  /* Brian Butler - Add some space at the top of button used on available puppes page */
  .btop-margin {
    margin-top: 20px;
  }
